<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magomir's Wonder Hub</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="static/imgs/top_icon.png" />
</head>
<body>
    <div class="navbar">
        <div class="button-container" id="buttonContainer">
            <input type="submit" name="button" value="Button1" onclick="changeBackground('pattern.png')">
            <input type="submit" name="button" value="Button2" onclick="changeBackground('stag.png')">
            <input type="submit" name="button" value="Button3" onclick="changeBackground('tree.png')">
        </div>
        <h1></h1>
        <h1></h1>
    </div>
    
    <div class="content-container">
        <h1 >{{ welcome_message }}</h1>
    </div>
    <div class="content-container2">
        <div class="gw2-container">
            <h2>List of today's dailies</h2>
            <ul style="list-style-type:none">
                {% for daily in gw2_dailies %}
                    <li><img class="icon" src="{{ daily.icon }}" alt="{{ daily.name }}" width="32" height="32"> {{ daily.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="gw2-container">
            <h2>List of tomorrow's dailies</h2>
            <ul style="list-style-type:none">
                {% for daily in gw2_tomorrow %}
                    <li><img class="icon" src="{{ daily.icon }}" alt="{{ daily.name }}" width="32" height="32"> {{ daily.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        window.addEventListener('load', function() {
            var buttonContainer = document.getElementById('buttonContainer');
            var buttonCount = buttonContainer.getElementsByTagName('input').length;
            buttonContainer.style.setProperty('--button-count', buttonCount);
        });

        function changeBackground(imageName) {
            var imageUrl = "{{ url_for('static', filename='imgs/') }}" + imageName;
            console.log(imageUrl);
            document.body.style.backgroundImage = "url(" + imageUrl + ")";
        }
    </script>
</body>
</html>
