body {
    background-image: url(imgs/pattern.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 1px;
    border: none;
    cursor: pointer;
    width: calc((100% / var(--button-count)) - 2px);  /* Adjusted width to dynamically calculate button width */
    flex: 1;
}

.button-container input[type="submit"]:hover {
    opacity: 0.8;
}

h2 {
    color: #4CAF50;
}
